.text-box h3:nth-of-type(1) {
  color: pink;
}

.text-box > div:nth-of-type(2) > p {
  color: red;
}

.text-box p:nth-of-type(3) {
  color: green;
}

#greycol {
    color:grey;
}

.yellow {
    color: yellow;
}

/* zadaniye 2 */
.week:visited {
    color: chocolate;
}
.week:link {
    color:blueviolet
}

.week:focus {
    color: red;
}

.week:hover {
    color:palevioletred
}

.week:active {
    color:aqua;
}

.list .week {
    list-style:none;
}

.week:first-child {
     font-weight: bold;
     font-weight: 700;
}

 .week:last-child { 
    font-style: italic; 
}

  .week:nth-child(even){
     color: blue;
}
/* zadaniye 2.1 */
.weekend:visited {
    color: chocolate;
}
.weekend:link {
    color:blueviolet
}

.weekend:focus {
    color: red;
}

.weekend:hover {
    color:palevioletred
}

.weekend:active {
    color:aqua;
}

.list .weekend {
    list-style:none;
}

.weekend:first-child {
     font-weight: bold;
     font-weight: 700;
}

 .weekend:last-child { 
    font-style: italic; 
}

 .weekend:nth-child(even){
     color: blue;
}